$bg_color_start: #6c7989;
$bg_color_end: #434b55;
$fg_color: #555;
$main_bg_color: #dedede;

$header_bg_start: #ddfbfc;
$header_bg_end: #c6eafa;
$header_border_shadow: #b2d2e1;
$header_title_fg_color: #069;
$header_text_fg_color: #61778b;

$header_menu_bg: #5198df;
$header_menu_bg_start: #77b9fb;
$header_menu_bg_end: #3782cd;
$header_menu_item_border_color: #3a7cbe;
$header_menu_item_border_shadow_color: #8bbef3;

$section_bg_color: #fafafa;

/* $title_fg_color: #222; */
$title2_fg_color: #393939;
$title3_fg_color: #494949;

$code_fg_color: #069;
$code_bg_color: #c6eafa;

$table_border_fg_color: #aaa;
$blockquote_bg_color: #f55b2c;
$blockquote_fg_color: #ffffff;
$blockquote_shadow_color: #bf4402;

$tag_fg_color: #fff;
$tag_bg_color: #5198df;
