$bg_color_start: #6c7989;
$bg_color_end: #434b55;
$fg_color: #555;
$main_bg_color: #dedede;
/* $main_fg_color:; */
$header_bg_start: #aa759f;
$header_bg_end: #925a86;
$header_border_shadow: #b2d2e1;
$header_title_fg_color: #5a3752;
$header_text_fg_color: #61778b;

$header_menu_bg: #825a92;
$header_menu_bg_start: #925a86;
$header_menu_bg_end: #aa759f;
$header_menu_item_border_color: #3a7cbe;
$header_menu_item_border_shadow_color: #8bbef3;

$section_bg_color: #fafafa;

$title_fg_color: #222;
$title2_fg_color: #393939;
$title3_fg_color: #494949;

$code_fg_color: #f8f8f2;
$code_bg_color: #3a3c42;

$table_border_fg_color: #aaa;
$blockquote_bg_color: #c98c9c;
$blockquote_fg_color: #ffffff;
$blockquote_shadow_color: #bf4402;

$tag_fg_color: #fff;
$tag_bg_color: #aa759f;
