{% extends "base.html" %}

{% block title %}
Tags &middot; {{ config.title }}
{% endblock title %}

{% block content %}
{% set blogtags = get_taxonomy(kind="tags") %}
{# determine most and least popular tags #}
{% set tags_by_count = blogtags.items | sort(attribute="page_count") %}
{% set least_pop_tag = tags_by_count | first %}
{% set lowest_weight = least_pop_tag.page_count %}
{% set most_pop_tag = tags_by_count | last %}
{% set highest_weight = most_pop_tag.page_count %}

<h1>Tag cloud</h1>

<div id="tagcloud"></div>

<script type="text/javascript" src="{{ get_url(path="js/TagCloud.min.js") }}"></script>
<script>
    var texts = [
    {%- for tag in blogtags.items -%}
    "<span style='font-size:{{ 1 + (tag.page_count - lowest_weight) / (highest_weight - lowest_weight) * 1.5}}rem;'>{{ tag.name }}</span>"
    {%- if not loop.last %}{{ ", " | safe }}{% endif -%}
    {%- endfor -%}
    ];
    var options = {
        useHTML: true,
        radius: 250,
    };
    TagCloud("#tagcloud", texts, options);

    var rootEl = document.querySelector('#tagcloud');
    rootEl.addEventListener('click', function clickEventHandler(e) {
        if (e.target.className === 'tagcloud--item') {
            window.location = `#${e.target.innerText}`;
        }
    });
</script>


<h1>Tags list</h1>
<ul>
    {% for term in terms %}
    <li><a name="{{ term.name | slugify }}" href={{ term.permalink | safe }}><span
                class="label">{{ term.name }}</span></a>
        <ul>
            {% for page in term.pages %}
            <li>{{ page.date }} &ndash; <a href={{ page.permalink }}>{{ page.title }}</a></li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
{% endblock content %}
