{% extends "base.html" %}

{% block title %}
Tag "{{ term.name }}" &middot; {{ config.title }}
{% endblock title %}

{% block content %}
{% set blogtags = get_taxonomy(kind="tags") %}
{# determine most and least popular tags #}

<h1>Tag {{ term.name }}</h1>
<ul>
    {% for page in term.pages %}
    <li>{{ page.date }} &ndash; <a href={{ page.permalink }}>{{ page.title }}</a></li>
    {% endfor %}
</ul>

<page-nav>
    <a class="label" href="{{ "/tags" }}">All tags</a>
</page-nav>

{% endblock content %}
