<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>{{ site.title }}</h1>
      <p class="lead">{{ site.data.params.tagline | escape }}</p>
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item"><a href="{{ "/" }}">Blog</a></li>
      <li class="sidebar-nav-item"><a href="{{ "/manifesto" }}">Manifesto</a></li>
    </ul>

