/*
Body: Montserrat (Regular) <-- base font

Site title: Changa (Bold)
Site subtitle: Changa (Regular)

Headings: Oswald (Semi-Bold)
Tags: Oswald (Regular)
Code blocks: Fira Code (Regular)

 */

html {
    font-family: Montserrat;
    font-weight: 400;
}

.theme-base-0e .pagination>.active>a {
    color: #fff;
}

@font-face {
    font-family: Changa;
    src: url('/fonts/Changa-VariableFont_wght.ttf') format('truetype');
}

.sidebar-about h1 {
    font-family: Changa;
    font-weight: 800;
}

.sidebar-about>p.lead {
    font-family: Changa;
    font-weight: 400;
}

.sidebar p {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 13pt;
}

.post-title {
    font-family: Oswald;
    font-weight: 600;
    color: #aa759f
}

.post-date {
    font-family: Oswald;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Oswald;
    font-weight: 600;
    color: #aa759f;
}

.posts .quote {
    background-color: #eef;
}

.posts .link {
    background-color: #eef;
}

.content .label,
.content a.label {
    color: #fff;
    font-family: Oswald;
    font-weight: 400;
}

.tagcloud {
    width: 100%;
    height: 400px;
    position: relative;
}

.tagcloud--item {
    color: #aa759f;
}
