{% extends "page.html" %}
{% import "categories/post-title-list-macro.html" as cats %}

{% block title %}
Category {{ term.name | title }} &middot; {{ config.title }}
{% endblock title %}

{% block content %}
{% include "paginator_navigation.html" %}

<p><a href="/categories">List all categories</a></p>

<h1>Posts in category <span class="label">{{ term.name }}</span></h1>

<ul>
{% for page in paginator.pages %}
<li>
    <p><a href={{ page.permalink }}>{{ page.title }}</a></p>
    <p>{{ cats::show_cats(page=page) }}</p>
</li>
{% endfor %}
</ul>

{% include "paginator_navigation.html" %}
{% endblock content %}
