<div class="post">
    <h1 class="post-title">
        <a href="{{ post.permalink }}">
            {{ post.title }}
        </a>
    </h1>

    <span class="post-date">{{ post_meta::show(post=post) }}</span>

    {% if post.summary %}
    {{ post.summary | safe }}
    <a href="{{ post.permalink }}#continue-reading">Read more &rarr;</a>
    {% elif post.description %}
    {{ post.description | safe }}
    <a href="{{ post.permalink }}#continue-reading">Read more &rarr;</a>
    {% else %}
    {{ post.content | safe }}
    {% endif %}
</div>
