{% extends "hyde-x/templates/index.html" %}
{% import "reading-time-macro.html" as helper %}
{% import "categories/post-title-list-macro.html" as cats %}

{% block title %}
{% if page.title %}
{{ page.title }} &middot; {{ config.title }}
{% else %}
{{ config.title }}
{% endif %}
{% endblock title %}

{% block content %}
<div class="posts">
{% if not paginator %}
    {% for post in section.pages %}
    {% include "index_post.html" %}
    {% endfor %}
{% else %}
    {% include "paginator_navigation.html" %}
    {% for post in paginator.pages %}
    {% include "index_post.html" %}
    {% endfor %}
    {% include "paginator_navigation.html" %}
{% endif %}
</div>
{% endblock content %}
