{% extends "base.html" %}
{% import "macros/post.html" as post %}

{% block content %}
{% if not paginator %}

    {% for page in section.pages %}
        {{ post::show(post=page, link=true, read_more=true, toc_depth=0) }}
    {% endfor %}

{% else %}

    {% include "partial/paginator_navigation.html" %}

    {% for page in paginator.pages %}
        {{ post::show(post=page, link=true, read_more=true, toc_depth=0) }}
    {% endfor %}

    {% include "partial/paginator_navigation.html" %}

{% endif %}
{% endblock content %}
