{% extends "page.html" %}

{% block content %}
<article class="post-quote">
    <post-header>
        <column>
            <h1 class="post-title">{{ page.title }}</h1>
        </column>
        <column>
            <span class="post-date">{{ post_meta::show(post=page) }}</span>
        </column>
    </post-header>
    <div class="post-body">
        {{ page.content | safe }}
    </div>
    {% include "partial/pagenav.html" %}
</article>
{% include "partial/comments.html" %}
{% endblock content %}
