<h1><a href="{{ config.base_url }}">{{ config.title }}</a></h1>

{% if config.description %}
<p><a href="/misc/about">{{ config.description }}</a></p>
{% endif %}

<ul>

<li><a href="/">Blog</a></li>

<li><a href="/misc/manifesto">Manifesto</a></li>

<li>
    <a href="https://github.com/metta-systems"><i class="lni lni-github"></i></a>
</li>

<li>
    <a href="{{ get_url(path="rss.xml", trailing_slash=false) }}"
        type="application/rss+xml"><i class="lni lni-rss-right"></i></a>
</li>

<li>
    <input id="search" type="search" placeholder="🔎 Search the site" />
</li>

</ul>
