<article class="post-preview">
    <post-header>
        <column>
            <h1 class="post-title"><a href="{{ post.permalink }}">{{ post.title }}</a></h1>
        </column>
        <column>
            <span class="post-date">{{ post_meta::show(post=post) }}</span>
        </column>
    </post-header>
    <div class="post-body">
        {% if post.summary %}
        {{ post.summary | safe }}
        <a href="{{ post.permalink }}#continue-reading">Read more <i class="lni lni-arrow-right-circle"></i></a>
        {% elif post.description %}
        {{ post.description | safe }}
        <a href="{{ post.permalink }}#continue-reading">Read more <i class="lni lni-arrow-right-circle"></i></a>
        {% else %}
        {{ post.content | safe }}
        {% endif %}
    </div>
</article>
